In [1]:
import pandas as pd

In [89]:
df = pd.read_csv("./ad/data/ad.csv")
df

,content_id,user_id,name,keyword,price,flag_used,category_id_1,category_id_2,category_id_3,emergency_cnt,comment_cnt,interest,pfavcnt
0,157826057,114088,인텔 4세대 i5-4670 사무용 컴퓨터 팝니다.,"사무용컴퓨터,사무용PC,중고사무용컴퓨터,중고사무용PC,사무용중고컴퓨터",250000,1,600,600100,600100006,0,0,714,4
1,162431268,3247363,갤럭시노트10+ 512GB 글로우 (무잔상) ! 0821,"갤럭시노트10,노트10플러스,노트10플러스중고,노트10플러스공기,노트10플러스글로",439000,1,600,600700,600700001,0,0,39,2
2,162806215,12851816,#한정판매#갤럭시S21 256GB 화이트 SS급 중고폰공기계[75333],"갤럭시S21,갤럭시S21화이트,S21화이트",620000,1,600,600700,600700001,0,0,145,5
3,152625380,2347538,#당일발송#갤럭시S9플러스 64G 대량판매 등급별초특가!,"S9플러스,S9플러스중고,갤럭시S9플러스",195000,1,600,600700,600700001,0,0,234,8
4,161572473,12927760,포터2카고 중고화물차 팝니다.,"포터2,포터중고차,포터2카고,포터2중고,포터2카고중고",9800000,1,750,750200,750200700,0,0,388,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,130344977,948674,*당일발송*아이폰6s 최저가 판매,NaN,109000,2,600,600700,600700001,0,0,15612,290
1423,156423859,10255755,노트10플러스 [블랙] 45301 (S급),"노트10+,갤럭시노트10+,노트10플러스,갤럭시노트10플러스,노트10plus",450000,1,600,600700,600700001,0,0,1207,18
1424,163149174,10197556,노트20 256기가 블랙 A급 48516,"노트20,갤럭시노트20,note20",510000,1,600,600700,600700001,0,0,99,3
1425,160955756,10197556,노트20 256기가 브론즈 A급 48011,"노트20,갤럭시노트20,note20",510000,1,600,600700,600700001,0,0,617,12
1426,162949964,10197556,S20울트라 그레이 256기가 S급 48536,"s20,s20ultra,갤럭시s20,갤럭시s20울트라,s20울트라",600000,1,600,600700,600700001,0,0,147,1

In [90]:
# 신고 건수가 높은 outlier 찾기 
df["emergency_cnt"].value_counts(ascending=False)

0      1177
1       103
2        48
3        24
4        22
5        10
6         8
7         8
8         5
9         4
10        3
16        3
41        2
272       1
67        1
62        1
46        1
11        1
31        1
25        1
22        1
13        1
273       1
Name: emergency_cnt, dtype: int64

In [96]:
# 신고 건수의 분포 확인
df["emergency_cnt"].describe()

count    1427.000000
mean        1.100911
std        10.804247
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       273.000000
Name: emergency_cnt, dtype: float64

In [91]:
# 신고 수 270이 넘는 "content_id"는 2개([75221723, 31537985])이다.
df[df["emergency_cnt"] > 270]["content_id"].unique()

array([31537985, 75221723], dtype=int64)

In [92]:
# 신고 수 273건은 미용품(다이어트식품)
df.loc[df["content_id"] == 75221723].iloc[0]

content_id                       75221723
user_id                             96166
name             -16kg 감량후기 다이어트 선슬 차전자피!
keyword            다이어트,차전자피,다이어트약,다이어트식품
price                               19900
flag_used                               2
category_id_1                         410
category_id_2                      410900
category_id_3                      410900
emergency_cnt                         273
comment_cnt                          1209
interest                          1646378
pfavcnt                             31058
Name: 1180, dtype: object

In [93]:
# 신고 수 272건은 미용품(여드름비누)
df.loc[df["content_id"] == 31537985].iloc[0]

content_id                              31537985
user_id                                  2617066
name             미백/여드름 마스크 트러블 불만족 환불! 후기 1400개
keyword                 폼클렌징,여드름,천연비누,여드름비누,모공축소
price                                      11000
flag_used                                      2
category_id_1                                410
category_id_2                             410100
category_id_3                          410100400
emergency_cnt                                272
comment_cnt                                  649
interest                                 3511826
pfavcnt                                    36484
Name: 1075, dtype: object

-> 
outlier로 판단되는 2개의 상위 content_id를 제거하여 시각화를 진행한다.